<!DOCTYPE html>
<html>
  <head>
    <title>MessageMeRails6</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <%= render 'layouts/navigation' %>
    </div><br>
    <div class="ui container ">
      <div class="content">

        <div class="row">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>  
    </div>
    
  </body>
</html>
